<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826693621501-rd7tjp84vi1bsafgerb6u1fds9p0grfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826693621501-rd7tjp84vi1bsafgerb6u1fds9p0grfo</string>
	<key>API_KEY</key>
	<string>AIzaSyCRDVP5In4CPlSlh38kBFivBViBp47lFJk</string>
	<key>GCM_SENDER_ID</key>
	<string>826693621501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myappco.MyFirstApp.MobileLoginAdmin</string>
	<key>PROJECT_ID</key>
	<string>mobilestore-39a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilestore-39a6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826693621501:ios:ea26bf4a2bc5384a9b5094</string>
	<key>DATABASE_URL</key>
	<string>https://mobilestore-39a6c.firebaseio.com</string>
</dict>
</plist>